*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:430px) {
/* Splash Screen Styles */
    #splash__screen{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(26, 117, 70);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    #main__splash__item{
        width: 90%;
    
    }
    #seeds__splash__item{
        position: absolute; 
        bottom: 5px; 
        right: 0px;
        width: 30%;
    }
    #login__or__signup {
        display: none; /* Initially hide the main content */
      }

      /* Login or signup screen */
      #logo{
        width: 100%;
        height: 60vh;
        border-radius: 0px 0px 20px 20px;
   
      }
      #logo__login__signup{
        width: 80%;
        margin-left: 15%;
        margin-top: 20%;
      
      }
      #multiple__seeds{
     width: auto;
     height: 40%;
     margin-top: 10%;
     background: url("./images/green_seeds.png");
     background-size: 25%;
        
      }

      #access{
        height: 40vh;
        background-color:rgb(26, 117, 70) ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
      }
      .button{
        width: 200px;
        height: 50px;
        border-radius: 15px;
        border: none;
        font-size: medium;
      }
      #login{
        background-color: #37C27A;
        color: White;
      }

      #signup{
        color: #37C27A;
        background-color: White;
      }
}

